<%-include ("includes/head.ejs"); %>
<body>
    <h1>This is Home Page</h1>
    <h4><%="Pocket Clinc" toUpperCase() %></h4>
    <p>*Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam veniam accusantium aliquid doloribus voluptas laboriosam hic, officiis perspiciatis sed, aut quia mollitia nulla quas sequi! Saepe rerum nobis hic. Doloremque?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nemo rem alias eius odit pariatur! Quisquam explicabo suscipit cupiditate quaerat ullam, itaque officiis error beatae harum. Maiores error libero natus?
        Culpa saepe consectetur blanditiis quaerat voluptate est non ducimus aliquid delectus ab! Dolor itaque nisi error veritatis laboriosam sapiente commodi at molestiae assumenda architecto eum, eaque provident pariatur corporis quaerat!
        Rerum magni facilis, aliquam voluptatum placeat doloribus accusamus expedita a modi nemo incidunt earum enim sequi odio suscipit laboriosam pariatur asperiores repudiandae, ea voluptatem! Consequuntur vel ab eius magni modi?
    </p>

    <button>Click Me!</button>

<%- include("includes/footer.ejs"); %>
</body>
</html>